@font-face {
    font-family: 'Cutive Mono';
    src: url('CutiveMono-Regular.woff2') format('woff2'),
        url('CutiveMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    animation: In 2s;
}

.testo{

  font-family: 'Cutive Mono';
  color:#222222;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);

}

h1
{
  font-weight: 400;
  font-size: 20px;
  cursor:default;
  text-align: -webkit-center;

}
#close {
    top: 1%;
    left: 91.6%;
    z-index: 100;
    transform: scale(0.2);
}



a{
  text-decoration: none;
    color:#222222

}

h1:hover
{  animation: blurred 0.3s linear forwards

}

.deblurred
{
  animation: deblurred 0.3s
}



@keyframes deblurred {
  from {filter: blur(2px);}
  to{filter: blur(0px)}

}
@keyframes blurred {
  from {filter: blur(0px);}
  to{filter: blur(2px)}

}

@keyframes In {
  from{opacity: 0}

  to{opacity: 1}
}
